* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.App {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.appHeader {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.appHeader > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.appLeft {
  flex: 0.9;
}

.appDropdown {
  background-color: white;
  width: 45%;
}

.appInfoBox {
  display: flex;
  justify-content: space-between;
}


.appRightSidebar > h3 {
  color: #6a5d5d;
  margin-bottom: 1rem;
}

.appRightSidebar > h3:last-of-type {
  margin-top: 1rem;
}

.searchInput{
  padding: 10px;
  width: 95%;
}

.footer {
  display: flex;
  text-align: center;
  margin-bottom: 10px; 
}

.footer p {
  font-size: 10px;
  color: gray;
  width: 100%;
}

@media (max-width: 990px) {
  .App {
    flex-direction: column;
  }

  .appDropdown {
    width: 55%;
  }
}